@import '../Layout/variables.scss';

.contact {
  .form-group {
    position: relative;

    input,
    textarea {
      font-size: 1rem;

      padding: 1rem;
      width: 100%;
      // color: $primary-color;
      border: none;
      margin: 1rem 0;
      background: transparent;
      border-bottom: 1px solid #ccc;

      &:focus {
        outline: none;
        // border-bottom: 3px solid black;
        // transition: all 0.5s linear;
        & + .underline {
          width: 100%;
        }
      }

      &::placeholder {
        // color: $primary-light-color;

        font-size: 1rem;
        font-family: $primary-fonts;
      }
    }
    .underline {
      position: absolute;
      z-index: 2;
      margin-top: -1.1rem;
      height: 2px;
      width: 0;
      background-color: #000;
      -webkit-transition: 0.5s all;
      transition: 0.5s all;
    }
    textarea + .underline {
      margin-top: -1.3rem;
    }
  }
  form input[type='submit'] {
    //   margin-top: 1rem;
    //   font-size: 1rem;
    //   font-weight: 900;
    //   font-family: $primary-fonts;
    //   color: $primary-color;
    width: 100%;
    //   padding: 0.8rem 3rem;
    //   border: 1px solid $primary-color;
    //   outline: none;
    //   background: transparent;
    //   font-family: $primary-fonts;

    //   &:hover {
    //     cursor: pointer;
    //     color: #fff;
    //     border: 1px solid #fff;
    //     background: $primary-color;
  }
  // }
}
