@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(233, 233, 233);
}

::selection {
  background: #ff009d; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #ff009d; /* Gecko Browsers */
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-fonts;
  font-weight: 300;
}

p {
  font-family: $secondary-fonts;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 2rem;
}
