@import '../variables.scss';

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.menu-wrapper {
  align-self: baseline;
  width: 100%;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  ul {
    list-style: none;
  }

  .menu-links {
    width: 100%;
    ul {
      width: 100%;
      display: none;
      text-align: right;
      font-size: 5rem;
      line-height: 7rem;
      transition: opacity ease 0.4s;
      font-family: $primary-fonts;
      font-weight: 900;

      li {
        width: 100%;
        margin-bottom: 1rem;
        // height: 7rem;

        .nav-link,
        .curr {
          padding: 0.4rem 0.8rem;
          &:after {
            content: '';
            position: absolute;
            height: 8px;
            background-color: #fff;
            width: 0;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
          }
        }

        .nav-link {
          position: relative;
          color: #fff;
          &:hover:after {
            width: 100%;
          }
        }

        // .curr {
        //   color: white;
        //   background: $primary-color;
        //   border-radius: 0.2rem;
        //   transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;

        //   &:hover:after {
        //     width: 0;
        //   }
        // }
      }
    }
    .menu-hamburger {
      height: 100%;
      width: 100%;
      text-align: right;
      // .menu-plus {
      //   background: transparent;
      // padding: 0.6rem 1rem;
      .plus-svg {
        cursor: pointer;
        // width: 50px;
        .plus-path {
          pointer-events: none;
          fill: $primary-color;
          transition: all 0.4s ease;
        }
        // }
        // img {
        //   width: 20px;
        // }
      }
      // button {
      //   padding: 0;
      //   // margin: 2rem;
      //   transition: all 0.4s ease;
      //   border: none;
      //   background: transparent;
      //   cursor: pointer;
      //   img {
      //     width: 25px;
      //   }
      // }
    }
  }
}

.menu-overlay {
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  background-color: $primary-color;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.menuOpen {
  transition: all 0.4s ease;
  width: 100%;

  & + .menu-links {
    width: 100%;
    .menu-hamburger {
      width: 100%;
      // .menu-plus {
      .plus-svg {
        .plus-path {
          transform: rotate(225deg);
          transform-origin: center center;
          transition: all 0.4s ease;
          fill: #fff;
        }
      }
      &:hover {
        background: transparent;
      }
      // }
    }
    ul {
      margin-top: 2rem;
      display: block;
      opacity: 1;
      transition: opacity 0.4s ease 0.4s;
    }
  }
}

.menuClosed {
  width: 0;
  transition: all 0.4s ease 0.2s;
}

@media (min-width: 768px) {
  .menu-wrapper {
    display: block;
    width: auto;
    .menu-links {
      ul {
        display: block;

        font-family: $primary-fonts;
        font-weight: 700;
        font-size: 0.7rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 1;
        transition: none;
        li {
          display: inline;
          padding-left: 2rem;

          .nav-link {
            color: #000;
            &:after {
              height: 2px;
              background-color: #000;
            }
          }

          .curr {
            color: white;
            background: $primary-color;
            border-radius: 0.2rem;
            transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;

            &:hover:after {
              width: 0;
            }
          }
        }
      }
    }

    .menu-hamburger {
      display: none;
    }
    .menu-overlay {
      display: none;
    }
  }
}
