$primary-fonts: 'Livvic', Helvetica, sans-serif;
// $secondary-fonts: Menlo, Consola, monospace;

$primary-color: #ff36c2;
$secondary-color: #1413ac;
$primary-dark-color: #dd00a4;
$primary-darkest-color: #a8047e;
$primary-light-color: #ff86da;
$primary-lightest-color: #ffd7f3;
